.cart-page__card {
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
  position: relative;
}

.cart-page__details {
  display: flex;
  flex-direction: column;
}
.cart-page__title {
  font-size: 30px;
  font-weight: 700;
}

.cart-page__paragraph {
  font-weight: 400;
  font-size: 30px;
  margin: 16px 0 12px 0;
}

.cart-page__price {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 12px;
}

.cart-page__sizes {
  display: flex;
  gap: 12px;
  margin-bottom: 5px;
}

.cart-page__size {
  display: flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  width: 63px;
  height: 45px;
  border: 1px solid var(--color-black);
  font-weight: 500;
  transition: all 0.2s ease;
  cursor: pointer;
}

.cart-page__activeSize {
  background-color: var(--color-black);
  color: var(--color-white);
}

.cart-page__items {
  display: flex;
  gap: 20px;
}

.cart-page__increments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cart-page__plus {
  font-size: 14px;
  width: 45px;
  height: 45px;
  border: 1px solid var(--color-black);
  font-weight: 500;
  transition: all 0.2s ease;
  font-size: 30px;
  font-weight: 300;
  cursor: pointer;
  position: relative;
}

.cart-page__plus::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 1px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: currentColor;
}

.cart-page__plus::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 15px;
  height: 1px;
  transform: translate(-50%, -50%) rotate(-90deg);
  background-color: currentColor;
}
.cart-page__plus:active {
  border-color: var(--color-primary);
}

.cart-page__count {
  font-weight: 500;
  font-size: 24px;
}

.cart-page__minus {
  display: flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 1px solid var(--color-black);
  font-weight: 500;
  transition: all 0.2s ease;
  font-size: 30px;
  font-weight: 300;
  position: relative;
  cursor: pointer;
}

.cart-page__minus:active {
  border-color: var(--color-danger);
}

.cart-page__minus::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: currentColor;
}

@media only screen and (max-width: 600px) {
  .cart-page__card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cart-page__items {
    order: -1;
    flex-direction: column;
  }
  .cart-page__increments {
    order: 2;
    flex-direction: row;
    margin-bottom: 20px;
  }
  .cart-page__details {
    align-items: center;
  }
}
