.btn__size {
  color: var(--color-black);
  display: flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  width: 63px;
  height: 45px;
  border: 1px solid currentColor;
  font-weight: 500;
  transition: all 0.2s ease;
  cursor: pointer;
  text-transform: uppercase;
}

.btn__size__activeSize {
  background-color: var(--color-black);
  color: var(--color-white);
}
