.nav {
  /* width: 90%; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navigations {
  display: flex;
  gap: 30px;
}

.navigations__item {
  padding: 20px 10px;
  text-transform: uppercase;
  font-size: 16px;
  transition: all 0.2s ease;
  border-bottom: 3px solid transparent;
}

.active {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

.nav__item__logo {
  width: 31px;
  height: 30px;
  margin-right: 70px;
}

.currency {
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  position: relative;
}

.number-of-items {
  font-family: Roboto;
  width: 20px;
  height: 20px;
  background-color: var(--color-black);
  border-radius: 60px;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  right: -10px;
  color: vaR(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
}

@media only screen and (max-width: 600px) {
  .nav__container {
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }
  .nav__item-logo {
    order: -1;
    margin-left: 70px;
  }
  .navigations {
    margin-bottom: 20px;
  }
}
